.Drawer {
    width: 77px;
    text-align: center;   
}

.Drawer div:only-child {
    width: calc(77px);
    overflow-x: hidden;  
}

.Drawer.open {
    width: 320px;
    animation: moveright .45s;
    animation-timing-function: linear;
}

.Drawer.open div:only-child {
    width: 319px;
    animation: moveright .45s;
    animation-timing-function: linear;   
}

.Drawer.open div:only-child div {
    text-align: end;
    padding: 0 15px 0 0;
}

.Drawer.close {   
    transition: .45s;
    animation: moveleft .45s;
    animation-timing-function: linear;
}

.Drawer.close div:only-child {   
    width: calc(77px);
    transition: .45s;    
    animation-timing-function: linear;
}

.NavLinks li a div:last-child {
    opacity: 0;
    display: none;
}

.Drawer.open .NavLinks li a div:last-child {
    opacity: 1;
    display: block;
}


@keyframes moveleft {
    from {left: 319px;}
    to {left: 77px;}
}

@keyframes moveright {
    from {width: 77px;}
    to {width: 319px;}
}