.Quiz {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 100px 0 0 0;    
}

.Quiz h3 {
    color: #fff;
    margin: 0 0 25px 0;
    text-align: center;
}

.QuizWrapper {
    width: 100%;
    padding: 0 20px;
}